<h2>Task List</h2>

<div id="task-form" class="task-form">
  <%= render partial: "tasks/form", locals: {task: @task} %>
</div>

<b id="add-task-form" onclick="addForm()" >Add Task</b>

<% @tasks.each do |t| %>
  <%= render partial: "task", locals: { task: t }  %>
<% end %>

<div class="new-task-add">
</div>

