html {
  font-size: 100%;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  background: image-url('flowers_sakura.jpg') no-repeat center;
  background-size: auto;
}

.big-wrapper {
  width: 936px;
  margin: 0 auto;
  text-align: left;
}

header {

background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #5F5D6B),
  color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #5F5D6B 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #5F5D6B 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #5F5D6B 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #5F5D6B 0%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #5F5D6B 0%, #FFFFFF 100%);

  display: block;
  background-color: #fff;
  overflow: visible !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px #5A5A66 solid;
}

.main-content {
  
}

h1 {
  position: relative;
  font-family: 'Julius Sans One', sans-serif;
  color: #5A5A66; 
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

h2{
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

nav {
  position: relative;
  top: 0;
  padding: 10px;
  height: 20px;
}

.nav-list > li {
  display: inline-block;
  padding-right: 30px;
  left: 0;
  top: 0;
}


a {
  text-decoration: none;
}

.sign-in {
  display:block;
  position: relative;
  top: 100px;
  text-align: center;
}

.sign-up{
  display:block;
  position: relative;
  top: 50px;
  text-align: center;
}

.signup-form > div {
  padding-bottom: 15px;
}


.home-message { 
  position: relative;
  text-align: center;
  top: 200px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -webkit-transform 1s;
  -o-transition: -webkit-transform 1s;    
}

.home-message:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

a:visited {
  color: #5A5A66;
}

a:hover {
  color: #9BB5F2;
}

.main-content {
  display:block;
  position: relative;
  top: 100px;
}

/*.logo-circle {
  display: block;
  position: relative;
  z-index: -100;
  background-color: #DAECFF;
  top: 100px;
  left: 318px;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}*/




