// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.change-task {
  display: block;
  position: relative;
  font-weight: bold;
  float: right;
  clear: both;
}

.task-item {
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
}

.task-form {
  display: none;
}

.task-details {
  display: block;
}

#add-task-form {
  cursor: pointer;
}

b:hover {
  color: #9BB5F2;
}

